@model IEnumerable<CoffeeShopWeb.Models.Resource>
<link rel="stylesheet" href="~/css/St&MngProd&Res.css" />
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Resources</h2>

@if (TempData["Success"] != null)
{
    <div>@TempData["Success"]</div>
}

<a asp-action="Create" class="add-button">+ Add Resource</a>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Unit</td>
                <td>@item.Category?.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br>
<a asp-controller="CoffeeShopAdmin" asp-action="Index" class="back-button">⬅ Back</a>
