<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoffeeShop</title>

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />

    <!-- Global CSS -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tabs.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)
</head>

<body>

    <!-- HEADER -->
    @Html.Partial("_Header")

    <!-- MAIN CONTENT -->
    <main role="main">
        @RenderBody()
    </main>

    <!-- FOOTER -->
    @Html.Partial("_Footer")

    <!-- Global JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>
