@model List<CoffeeShopWeb.Models.Product>
<link rel="stylesheet" href="~/css/St&MngProd&Res.css" />
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Menu Management</h2>

@if (TempData["Success"] != null)
{
    <div>@TempData["Success"]</div>
}
<a asp-action="Create" class="add-button">+ Add Product</a>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br>
<a asp-controller="CoffeeShopAdmin" asp-action="Index" class="back-button">⬅ Back</a>
